
    <h2>About the project</h2>
    <p>
      The project is designed to give some basics knowledge
      and understandig of how ruby on rails framework works,
      also learners can take some knoweledge of fronted development
      within this course.
    </p>
    <p><strong>What you will learn:</strong></p>
    <ol>
      <li>Ruby</li>
      <li>Ruby on rails</li>
      <li>Fronted</li>
    </ol>
    <%= link_to 'Homepage', root_path %>
