<div class="center jumbotron">
  <h1>Alpha blog project</h1>
  <p>This is Udemy project for ruby on rails learners</p>
  <%= link_to "Sign up", "signup", class: "btn btn-primary btn-lg btn-xlg" %>
</div>
