#logo {
  float: left;
  font-size: 1.7em;
  color: rgba(71, 101, 144, 0.835);
  text-transform: uppercase;
  letter-spacing: -1.2px;
  font-weight: bold;
}

#logo:hover {
  color: rgb(109, 164, 173);
  text-decoration: none;
}

.center {
  text-align: center;
}

.col-form-label {
  text-align: right;
}

.btn-xlg {
  font-size: 1.7em;
  background-color: rgba(11, 93, 187, 0.863);
  color: white;
  width: 200px;
  border-radius: 40px;
  height: 50px;
}

.jumbotron {
  background-image: url(bg.png);
  background-size: cover;
  height: 800px;
}

.jumbotron h1 {
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: -1px;
}

.container {
  width: 90%;
}

footer {

  margin-top: 45px;
  
  padding-top: 5px;
  
  border-top: 1px solid #eaeaea;
  
  color: #777;
  
  }
  
  footer a:hover {
  
  color: #222;
  
  }
  
  footer small {
  
  float: left;
  
  }
  
  footer ul {
  
  float: right;
  
  list-style: none;
  
  }
  
  footer ul li {
  
  float: left;
  
  margin-left: 15px;
  
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}